html, body {
  display: block;
  overflow: hidden;
  min-height:100%;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

a {
  position: absolute;
  color:white;
  font-size:24px;
  text-decoration: none;
}

#instagram {
  top:30%;
  left:50px;
}

#facebook {
  bottom: 40px;
  left:20%;
}

#spotify {
  right:60px;
  top:calc(50% - 60px);
}

h1.title {
  position: absolute;
  top:20px;
  right:0;
  left:0;
  text-align: center;
  font-size:86px;
  color:white;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 4px;
}